<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageTitle: "Home"}); %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Contenido -->
    <div class="container mt-5">
      <h1 class="mb-4">Reproductor de Videos</h1>
      <div class="row">
        <div class="col-md-12">
          <video id="videoPlayer" class="video-js vjs-default-skin" controls preload="auto" width="100%">
            <!-- La lista de reproducción se construirá dinámicamente aquí -->
            <% videoSources.forEach(video => { %>
              <source src="<%= video.sources[0].src %>" type="<%= video.sources[0].type %>">
            <% }); %>
          </video>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <%- include('../partials/scripts', {scripts: [
      '<script src="https://cdn.jsdelivr.net/npm/video.js"></script>',
    ]}); %>

   <!-- Script propios -->
<script type='text/javascript'>
  // Inicializar Video.js
  const player = videojs('videoPlayer', {});

  // Iniciar la reproducción del primer video
  player.playlist(videoSources);
  player.playlist.autoadvance(0);
  player.playlist.currentItem(0);
</script>
  </body>
</html>
