<html lang="en">
  <head>
    <%- include('../partials/head', {pageTitle: "Home"}); %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Contenido -->
    <div class="container mt-5">
      <h2>Detalles de la Playlist</h2>
      <p>Nombre: <%= playlist[0].name %></p>
      <p>Videos:</p>
      <ul>
        <% playlist.forEach(video => { %>
        <li><%= video.title %></li>
        <% }); %>
      </ul>
    </div>

    <!-- Scripts -->
    <%- include('../partials/scripts', {scripts: []}); %>
  </body>
</html>
