<html lang="en">
  <head>
    <%- include('../partials/head', {pageTitle: "Home"}); %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Contenido -->
    <div class="container mt-5">
      <h1>Listas de Reproducción</h1>
      <ul>
        <% playlists.forEach(playlist => { %>
        <li>
          <%= playlist.name %> - 
          <a href="/playlists/<%= playlist.id %>/delete" onclick="return confirm('¿Estás seguro?')">Eliminar</a>
          <a href="/playlists/<%= playlist.id %>/details">Detalles</a>
        </li>
        <% }); %>
      </ul>
      <a href="/playlists/create" class="btn btn-success">Crear Nueva Lista</a>
    </div>

    <!-- Scripts -->
    <%- include('../partials/scripts', {scripts: []}); %>
  </body>
</html>
